:root {
  --white: #fff;
  --black: #000;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --accent: #ff8c42;
  --background: #fdf0e6;
  --text-muted: #6c7a89;
  --text-light: rgba(255, 255, 255, 0.7);
  --bg-dark: #1f1f2b;
  --card-dark: #2b2b3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: var(--light);
  background-color: var(--dark);
}

ul {
  list-style: none;
}
